<mat-toolbar color="primary" class="mat-elevation-z5">
    <span routerLink="/">Musketeer</span>
    <button mat-button routerLink="/portfolio">Portfolio</button>

    <span fxFlex></span>

    <button mat-button [matMenuTriggerFor]="moreMenu">
        <app-avatar [photoUrl]="(user$ | async)?.data?.photoURL" [name]="(user$ | async)?.data?.displayName"></app-avatar>
    </button>

    <mat-menu #moreMenu="matMenu">
        <button mat-menu-item routerLink="/settings">Settings</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
</mat-toolbar>
